html {
    background: white;
}

h3 {
    margin: 0px;
    padding: 0px;
}

.homepage{
    display: block;
    position: absolute;
    max-width: available;
    max-height: available;
    background: #F8F8F8;
    font-family: SansSerif;
    color: white;
    font-size: 25px;
}

.bar{
    display: block;
    border: black 1px;
    vertical-align: center;
    padding: 5px 5px;
    margin: 0 10px;
    background-color: black;
    text-align: right;
    border-radius: 5px;
}

.logo{
    display: block;
    height: 250px;
    border: black 1px;
    vertical-align: center;
    margin: 10px;
    background-color: gray;
    text-align: center;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: #F8F8F8;
}

a:hover{
    color: sandybrown;
}

li{
    list-style-type: none;
}

ul{
    margin-left: 0;
    padding-left: 0;
}

.filers{
    display: block;
    float: left;
    height: 700px;
    border: black 2px;
    background-color: black;
    margin: 10px;
    margin-top: 0;
    text-align: left;
    padding: 10px 10px;
    border-radius: 5px;
}

.vitrina{
    display: block;
    float: left;
    width: 1250px;
}

.button1{
    font-family: SansSerif;
    background-color: sandybrown;
    font-size: 25px;
    color: white;
    border-radius: 5px;
    width: 100px;
}

.button1:hover{
    background-color: bisque;
}