<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>CART</title>
<!--    <link rel="stylesheet" type="text/css" href="../static/style.css">-->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
    <div class="bar">
            <form th:method="POST" th:action="@{/logout}">
                <input type="submit" value="LogOut" class="logout">
            </form>
            <a href = "/">SHOP</a>
    </div>
    <div class = "logo">
        <img src="images/pushok-shop.png" id = "logo_pic">
    </div>

    <div class="cart">
        <div class = "item" th:each = "product: ${products}">
            <div class="order-description">
                <div class = "doggy">
                    <img th:src="'images/' + ${product.getProduct().id} + '.jpg'">
                </div>
                <div th:text="'BREED: ' + ${product.getProduct().breed}" class="descriptionPart" id = "breed"></div>
                <div th:text="'COLOR: ' + ${product.getProduct().color}" class="descriptionPart"></div>
                <div th:text="'PRICE: ' + ${product.getProduct().price}" class="descriptionPart"></div>
            </div>

            <div class="quantity">
                <form th:method = "POST" th:action="'/cart/increment/' + ${product.getProduct().id}" class="quantity_inline">
                    <button class="plus-btn" type="submit" name="button">
                        <img src="images/plus.png" alt="" />
                    </button>
                </form>

                <input type="text" name="name" th:value = "${product.quantity}" class = "quantity_inline">

                <form th:method = "POST" th:action="'/cart/decrement/' + ${product.getProduct().id}" class="quantity_inline">
                    <button class="minus-btn" type="submit" name="button">
                        <img src="images/minus.png" alt="" />
                    </button>
                </form>
            </div>

            <div class="total">
                <div th:text="'TOTAL: ' + ${product.quantity} * ${product.getProduct().price}"></div>
            </div>

            <div class = "delete-btn">
                <form th:method="POST" th:action="'/cart/delete/' + ${product.getProduct().id}">
                <button type="submit" name="button">
                    <img src="images/delete.png" alt="" />
                </button>
                </form>
            </div>
        </div>

    </div>

    <div class = "order">
        <form th:method = "POST" th:action="'/cart/placeOrder'">
        <input type="text" placeholder="ADRESS" class="order_input" name="address">
        <button class="order_btn" type="submit" name="button">
            PLACE AN ORDER
        </button>
        </form>
    </div>
</body>
</html>