<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class="cart">
        <table>
            <tr class = "trfirst">
                <th>
                    BREED
                </th>
                <th>
                    COLOR
                </th>
                <th>
                    PRICE
                </th>
                <th>
                    QUANTITY
                </th>
                <th>
                    TOTAL
                </th>
            </tr>
            <tr>

            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>all total</th>
            </tr>
        </table>
        <div class = "order">
            <input th:type="text" placeholder="ADRESS" class="order_input">
            <button class="order_btn" type="button" name="button">
                PLACE AN ORDER
            </button>
        </div>
    </div>
</body>
</html>