<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/style.css}">-->
    <link href="../static/login.css" rel="stylesheet">
</head>
<body>
    <div class="form">
        <h1>Login</h1>
        <div class="input-form">
            <input type="text" placeholder="Login">
        </div>
        <div class="input-form">
            <input type="password" placeholder="Password">
        </div>
        <div class="input-form">
            <input type="submit" value="Submit">
        </div>
    </div>
</body>
</html>