<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>orders</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">-->
</head>
<body>
<!--bar-->
<div class="bar">
    <form th:method="POST" th:action="@{/logout}">
        <input type="submit" value="LogOut" class="logout">
    </form>

    <a href = "home_page">SHOP</a>
    <th:block sec:authorize="hasRole('ADMIN')">
        <a href = "addProduct">ADD</a>
    </th:block>
</div>
<div class = "logo">
    <img src="images/pushok-shop.png" id = "logo_pic">
</div>

<div class = order-list>
    <div class = "the-order">
        <ul>
            <li>
                ID
                QUANTITY
            </li>
        </ul>
        ADRESS
        <button type="button" name="button" class = "delete-order-btn">
            <img src="../static/images/delete.png" alt="" />
        </button>
    </div>
</div>

</body>
</html>