<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/style.css}">-->
    <link href="../static/registration.css" rel="stylesheet">
</head>
<body>
<div class="form">
    <h1>Registration form</h1>
    <div class="input-form">
        <input type="text" placeholder="Login">
    </div>
    <div class="input-form">
        <input type="text" placeholder="Email">
    </div>
    <div class="input-form">
        <input type="password" placeholder="Password">
    </div>
    <div class="input-form">
        <input type="submit" value="Register">
    </div>
</div>
</body>
</html>