<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/style.css}">-->
    <link th:href="@{/registration.css}" rel="stylesheet">
</head>
<body>
<div class="form">
    <form th:method="POST" th:action="@{/registration}">
    <h1>Registration form</h1>
    <div th:if="${message} != null" th:text="${message}"></div>
    <div class="input-form">
        <input type="text" placeholder="Login" name="username">
    </div>
    <div class="input-form">
        <input type="text" placeholder="Email" name="mail">
    </div>
    <div class="input-form">
        <input type="password" placeholder="Password" name="password">
    </div>
    <div class="input-form">
        <input type="submit" value="Register">
    </div>
    </form>
</div>
</body>
</html>